
<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile colspan="3" rowspan="1">
        <div class="form-container">
            <form [formGroup]="searchForm" (submit)="submit()">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label> Search </mat-label>
                    <input matInput formControlName="search">
                </mat-form-field>
            </form>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        ask question
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
        <div>All Questions</div>
        <mat-list role="list">
            <mat-list-item role="listitem">
                    <div>
                        Question 1
                    </div>
                    <div>
                        Description DescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescription
                    </div>
                    
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip>angular</mat-chip>
                            <mat-chip>Front end</mat-chip>
                          </mat-chip-list>
                        
            </mat-list-item>
        </mat-list>
    </mat-grid-tile>
  </mat-grid-list>