
<div class="example-container">
    <div class="form-container">
      <form [formGroup]="questionForm" (submit)="submit()">
        <h1>Title</h1>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Question Title
          </mat-label>
          <input matInput formControlName="title" required>
        </mat-form-field>
        <h1>Question</h1>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Question Description
          </mat-label>
          <textarea formControlName="description" type="description" matInput></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
    </div>
  </div>