
.example-container{
    text-align: center;
    align-items:center;
}

.form-container{
        align-items: center;
        padding: 10px 15px;
        border-radius: 5px;

}

.form-field{
    display: block; 
    align-items:center;
}
.h1{
    display: flex;
    text-align: justify;
}