.example-card {
  max-width: 600px;
  min-width: 600px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.center {
  display: flex;
  justify-content: center;
}

.align-right {
  flex: 1 1 auto;
}

div {
    padding: 20px
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}