<div class="center">
    <mat-card class="example-card">
        <mat-card-title>{{displayThread.title}}</mat-card-title>
        <mat-card-content>
            {{displayThread.description}}
        </mat-card-content>
        <mat-card-footer>
            <mat-toolbar>
                <mat-toolbar-row>
                    <button mat-mini-fab color="basic" (click)="upVote()"><mat-icon aria-hidden="false" aria-label="Keyboard arrow up">keyboard_arrow_up</mat-icon></button>
                    {{displayThread.upCount - displayThread.downCount}}
                    <button mat-mini-fab color="basic" (click)="downVote()"><mat-icon aria-hidden="false" aria-label="Keyboard arrow up">keyboard_arrow_down</mat-icon></button>
                    <span class="align-right"></span>
                    <mat-card-title>{{displayThread.author.username}}</mat-card-title>
                    <div mat-card-avatar class="example-header-image"></div>
                </mat-toolbar-row>
            </mat-toolbar>
        </mat-card-footer>
    </mat-card>
</div>
<br><hr><br>
<ng-container *ngFor="let answer of displayThread.answers">
    <div class="center">
        <mat-card class="example-card">
            <mat-card-title>{{answer.title}}</mat-card-title>
            <mat-card-content>
                {{answer.description}}
            </mat-card-content>
            <mat-card-footer>
                <mat-toolbar>
                    <mat-toolbar-row>
                        <button mat-mini-fab color="basic" (click)="upVote()">
                            <mat-icon aria-hidden="false" aria-label="Keyboard arrow up">keyboard_arrow_up</mat-icon>
                        </button>
                        {{answer.upCount - answer.downCount}}
                        <button mat-mini-fab color="basic" (click)="downVote()">
                            <mat-icon aria-hidden="false" aria-label="Keyboard arrow up">keyboard_arrow_down</mat-icon>
                        </button>
                        <span class="align-right"></span>
                        <mat-card-title>{{answer.author.username}}</mat-card-title>
                        <div mat-card-avatar class="example-header-image"></div>
                    </mat-toolbar-row>
                </mat-toolbar>
            </mat-card-footer>
        </mat-card>
    </div>
    <br><hr><br>
</ng-container>
<div class="center">
    <div class="example-card">
        <div class="row">
            <textarea id="reply"></textarea>
        </div>
        <div class="row">
            <button type="submit" (click)="submitReply()">Post a reply</button>
        </div>
    </div>
</div>