<mat-grid-list cols="18" rowspan="1">
    <mat-grid-tile colspan="4" rowspan="1">
        <p>All Questions</p>
    </mat-grid-tile>
</mat-grid-list>
<ng-container *ngFor="let question of questionList; let i = index">
    <mat-grid-list cols="18">
        <mat-grid-tile colspan="4" rowspan="1">
            <a mat-button (click)="goToThread(question.id)">{{question.title}}</a>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="18">
        <mat-grid-tile colspan="4" rowspan="1">       
            <p>{{question.description}}</p>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="18">
            <mat-grid-tile colspan="4" rowspan="1">
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip *ngFor="let tag of question.tags">{{tag}}</mat-chip>
                </mat-chip-list> 
            </mat-grid-tile>
    </mat-grid-list> 
    <mat-divider *ngIf="i!==questionList.length"></mat-divider>                 
</ng-container>
